@import "~typeface-inter/inter";

//@import "~@fortawesome/fontawesome-pro/scss/light";
@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/solid";
@import "~@fortawesome/fontawesome-pro/scss/duotone";
@import "~@fortawesome/fontawesome-pro/scss/brands";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";

@tailwind base;
@tailwind components;
@tailwind utilities;

.tabular-nums {
    font-variant-numeric: tabular-nums;
}

@import "variables";

@mixin translate-y {
    transition: all ease 0.25s;

    &:hover {
        transform: translateY(0.25rem);
    }
}

html {
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: $white;
}

:root {
    --fa-primary-color: #{$white};
    --fa-secondary-color: #{rgba($white, 0.75)};
}

a.btn {
    @include translate-y;
    @apply relative;
    @apply block;
    @apply rounded;
    @apply py-2;
    @apply px-4;
    @apply text-astro-astrotomic;
    @apply bg-white;

    &:hover {
        @apply border-0;
        @apply text-astro-astrotomic;
        @apply bg-white;
    }
}

a.translate {
    @include translate-y;
}

.divided {
    > * {
        + * {
            &::before {
                content: ' / ';
                color: $white;
                @apply opacity-50;
            }
        }
    }
}

header.hero {
    background-image: url('../img/hero_background.min.jpg');
    @apply bg-no-repeat;
    @apply bg-right-bottom;
    @apply bg-cover;

    &::after {
        content: '';
        background: linear-gradient(0deg, $night 0%, rgba($night, 0) 100%);
        @apply absolute;
        @apply inset-0;
    }

    .comets {
        @apply absolute;
        @apply inset-0;
        @apply bg-no-repeat;
        @apply bg-no-repeat;
        @apply bg-cover;
        background-position-x: center;
        background-position-y: -50vh;

        &.comets-1 {
            background-image: url('../img/comets_1.svg');
        }

        &.comets-2 {
            background-image: url('../img/comets_2.svg');
        }

        &.comets-3 {
            background-image: url('../img/comets_3.svg');
        }

        &.comets-4 {
            background-image: url('../img/comets_4.svg');
        }
    }
}
