//@import "~typeface-inter/inter";
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("~typeface-inter/Inter (web)/Inter-Regular.woff2") format("woff2"),
    url("~typeface-inter/Inter (web)/Inter-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("~typeface-inter/Inter (web)/Inter-SemiBold.woff2") format("woff2"),
    url("~typeface-inter/Inter (web)/Inter-SemiBold.woff") format("woff");
}
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("~typeface-inter/Inter (web)/Inter-Bold.woff2") format("woff2"),
    url("~typeface-inter/Inter (web)/Inter-Bold.woff") format("woff");
}

//@import "~@fortawesome/fontawesome-pro/scss/light";
//@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/solid";
@import "~@fortawesome/fontawesome-pro/scss/duotone";
@import "~@fortawesome/fontawesome-pro/scss/brands";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

@import "pages/home";

html {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  background: $background;
  color: $white;
}

:root {
  --fa-primary-color: #{$white};
  --fa-secondary-color: #{$color-2};
}

a.btn {
  @apply relative;
  @apply block;
  @apply rounded;
  @apply py-2;
  @apply px-4;
  color: $color-3;
  background-color: $white;
  transition: all ease 0.25s;


  &:hover {
    @apply border-0;
    color: $color-3;
    background-color: $white;
    transform: translateY(2px);
  }
}
